---
  extends:
    - tough/config/common
    - tough/config/node
  globals:
    Promise: true
  rules:
    immutable/no-mutation: 0
    fp/no-loops: 0
    vars-on-top: 0
    no-plusplus: 0
    indent:
      - 2
      - 4
      - SwitchCase: 1
